{% extends 'ads_checker/frame.html' %}

{% block title %}
Main page
{% endblock %}

{% block body %}

<table style="opacity:0.8;position:absolute;left:30%;width:40%;background-color:#40B3DF">
    <tbody>
    <tr>
        <th colspan="7">
            <button>
                <a href="{% url 'ads_checker:add_target' %}">Add new target</a>
            </button>
        </th>
    </tr>
    <tr>
        <th>
            Target name
        </th>
        <th>
            Wanted price
        </th>
        <th>
            Total ads
        </th>
        <th>
            Average price
        </th>
        <th>
            Price difference
        </th>
        <th>
            Price dynamic
        </th>
        <th>

        </th>
    </tr>
    {% for target in targets %}
    <tr>
        <th>
            <a href="{% url 'ads_checker:view_target' target.id %}">{{target.title}}</a>
        </th>
        <th>
            {{target.wanted_price}}
        </th>
        <th>
            {{target.active_ads}}
        </th>
        <th>
            {{target.average_price}}
        </th>
        <th>
            {{target.price_difference}}
        </th>
        <th>
            {{target.dynamic}}
        </th>
        <th>
            <form method="post" action="{% url 'ads_checker:poll' target.id %}" style="margin:5">
                {% csrf_token %}
                <input type="submit" id="{target.id}" value="Update">
            </form>
        </th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
