{% extends 'ads_checker/frame.html' %}

{% block title %}
Main page
{% endblock %}

{% block body %}

<table style="opacity:0.8;position:absolute;left:30%;width:40%;background-color:#40B3DF">
    <tbody>
    <tr>
        <th colspan="3">
            <button>
                <a href="{% url 'ads_checker:add_target' %}">Add new target</a>
            </button>
        </th>
    </tr>
    {% for target in targets %}
    <tr>
        <th>
            <a href="{% url 'ads_checker:view_target' target.id %}">{{target.title}}</a>
        </th>
        <th>
            {{target.wanted_price}}
        </th>
        <th>
<!--            <button>-->
<!--                <a href="/poll">Update</a>-->
<!--            </button>-->
            <form method="post" action="{% url 'ads_checker:poll' target.id %}" style="margin:5">
                {% csrf_token %}
                <input type="submit" id="{target.id}" value="Update info">
            </form>
        </th>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
