<!DOCTYPE html>
<html>
<head>
    <style>
        body {
          background: linear-gradient(to left,#f0f000,#00f0f0);
          margin:auto;
          width:40%;
          height:100%;
        }
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        th, td {
          padding: 5px;
          text-align: center;
        }


    </style>
    <title>Add target</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="//unpkg.com/vue@latest/dist/vue.js"></script>
</head>
<body>
<h1>Add target</h1>
<a style="position:relative;"
   href="main_page.html">
    Main page
</a><br>
<form id="app" @submit.prevent="submit_form">
    <label for="title">Title:</label><br>
    <input v-model="title" type="text" id="title" value="Title"><br>
    <label for="description">Description:</label><br>
    <input v-model="description" type="text" id="description" value="Enter description"><br>
    <label for="wanted_price">Price:</label><br>
    <input v-model="wanted_price" type="text" id="wanted_price" value="Enter price"><br><br>
    <input type="submit" value="Confirm">
</form>
<div style="opacity:0.6;position:absolute;left:20%;width:100%;height:100%;z-index: -1">
    <img src="jwpfws7fp-c3.png">
</div>

<script>
 new Vue({
      el: '#app',
      data: {
          title: null,
          description: null,
          wanted_price:null
          },
      methods: {
      submit_form: function(e) {
      axios
          .post('http://127.0.0.1:8000/avito_spy/target/', {
          title: this.title,
          wanted_price: this.wanted_price
          })
          .then(response => alert("Success! Target has been added"))
      }}
    })

</script>
</body>
</html>
